.pagebutton{ /*shared class for 1 onclick alert button element in RSS feed*/
    height: 420px;
	background-color: black
}
html{
	background-color: black;
	width: 100%;
}
form{
	color: white;
}	/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: gray;
}

/* selected link */
a:active {
  color: green;
}	

/*Sample CSS to style the two tickers in the demo*/
.cnnclass{
width: 100%;
padding: 1px;
margin-bottom: 1em;
filter:progid:DXImageTransform.Microsoft.alpha(opacity=80); /*Specify fade effect in IE. Remove if desired.*/
-moz-opacity: 0.8; /*Specify fade effect in Firefox. Remove if desired.*/
}
.cnnclass a{
text-decoration: none;
width: 100%;
}
.bbcclass{
width: 100%;
padding: 6px;
background-color: black;
border: 1px solid #004A00;
}
.rsstitle{ /*shared class for all title elements in an RSS feed*/
font-weight: bold;
font-size: 70%;
width: 100%;
}
.rssdate{ /*shared class for all date elements in an RSS feed*/
color: gray;
font-size: 60%;
width: 100%;
}
.rssdescription{ /*shared class for all description elements in an RSS feed*/
width: 100%;
}
